.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

nav {
    
}

.testimonial-card {
    background: linear-gradient(145deg, #343a40, #000);
    border-radius: 20px;
    box-shadow: 8px 8px 16px #343a40, -8px -8px 16px #000;
    transition: transform 0.3s ease;
    padding-top: 15px;
    padding-bottom: 15px;
}

.testimonial-card:hover {
    transform: translateY(5px);
}

.info-card {
    background: linear-gradient(145deg, #343a40, #000);
    border-radius: 20px;
    box-shadow: 8px 8px 16px #343a40, -8px -8px 16px #000;
    transition: transform 0.3s ease;
    padding-top: 15px;
    padding-bottom: 15px;
}

.quote-icon {
    font-size: 4rem;
    color: #6366f1;
    opacity: 0.2;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.headshot {
    border-radius: 25%;
    width: 100%;
    height: auto;
    
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-image: 'AshZvonham\docs\images\headshot_square.png';

        min-height: 100%;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

body, html {
    height: 100vh;
}

.bg-image {
    background-image: url("./images/watercolor-autumn-leaves-background.avif");
}

@font-face {
    font-family: BookmanOld;
    src: url('./fonts/bookmanoldstyle_bolditalic.ttf');
}

@font-face {
    font-family: RoutineVariableThin;
    src: url('./fonts/RoutineVariableThin-Thin.ttf')
}

.title {
    font-size: 60px;
    font-family: BookmanOld;
    color: #B36CFF;
}

.lead {
    font-family: RoutineVariableThin;
    color: #fabcff;
}

p {
    font-family: BookmanOld;
    color: #d9ffff;
}

.text-muted {
    font-family: BookmanOld;
    color: #d9ffff;
}

h2 {
    font-family: BookmanOld;
    color: #B36CFF;
}

footer {
    background-color: #343a40;
    color: #d9ffff;
    padding: 3rem 0;
}